#ipad {
  position: relative;
  background-image: url('static/ipad_landscape.png');
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
  height: 700px;
  width: 100%;
  margin: auto;
}

#screen {
  margin: 0 auto;
  position: relative;
  /*border: 3px solid green;*/
  /*background-color: blue;*/
  padding: 114px 34px;
  height: 100%;
  width: 840px;
  height: 552px;
}

#menu-expansion {
  display: none;
  width: 40%;
  height: 100%;
}

#menu {
  background-color: rgb(50, 174, 193);
  float: left;
  width: 10%;
  height: 100%;
}

#canvas {
  float: right;
  width: 90%;
  height: 100%
}

.link {
  /*fill: steelblue;*/
  stroke: lightgray;
  /*stroke: #000;*/
  stroke-width: 2px;
}

.node circle {
  stroke: solid black 1px;
}

.node text {
  pointer-events: none;
  font: 14px sans-serif;
  color: blue;
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
