<!DOCTYPE HTML>
<head>
  <link rel="icon" type="image/png" href="{{ STATIC_URL }}<!-- favicon -->.ico"/>
  <meta name="viewport" content="width=1050, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes" charset="utf-8" lang="en" xmlns="http://www.w3.org/1999/html">

  <!-- CSS -->
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" />
  <link rel="stylesheet" href="static/styles.css" type="text/css" media="screen" />


  <!-- JS LIBS -->
  <!-- // <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script> -->
  <script type="text/javascript" src="static/jquery.min.js"></script>
  <script type="text/javascript" src="static/underscore.js"></script>
  <script type="text/javascript" src="static/periodic_table.json"></script>
  <script type="text/javascript" src="static/molecules.json"></script>
  <script type="text/javascript" src="static/jquery.autocomplete.js"></script>
  <!-- // <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script> -->
  <!-- // <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/d3/3.2.2/d3.v3.min.js"></script> -->
  <script type="text/javascript" src="static/d3.min.js"></script>
  <script type="text/javascript" src="static/scripts.js"></script>

  <title>Hands On Chemistry</title>
</head>

<body>
  <div id='ipad'>
    <div id='screen'>
      <div id='menu'>
        <div style='text-align:right;'>
          <i id='expand-menu' class='fa fa-bars fa-2x'></i>
        </div>
        <div id='controls'>
          <div id='add-elements'>
            <div>Add Atoms</div>
          </div>
          <i class='fa fa-crosshairs fa-2x kill-selected'></i>
          <i class='fa fa-trash-o fa-2x clear'></i>
        </div>
        <i class='fa fa-floppy-o fa-2x save-to-local'></i>
        <i class='fa fa-folder-open-o fa-2x load-from-local'></i>
        <i class='fa fa-pause fa-2x stop-generation'></i>
        <i class='fa fa-play fa-2x start-generation'></i>
        <i class='fa fa-link fa-2x toggle-link-creation'></i>

        <form class='expanded-menu hidden' id='molecule-search'>
          <input class="search-text" type="text" name="q" placeholder="Load Molecule By Name" value="">
        </form>
        <div id='selected-atom-detail'>
          <div id='free-electrons'></div>
        </div>
      </div>
      <div id='canvas'></div>
      <div id='legend'>
      </div>
      <div id='lightbox'></div>
      <div id='overlay'></div>
    </div>
  </div>

</body>
